Package: firefox-latest
Version: 1.0.0-1big3
Depends: wget
Architecture: all
Maintainer: Bruno Goncalves <biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:44
Description: Install the latest version of firefox and keep updated using the mozilla update system
