[Desktop Entry]
Name=Firefox Latest
Name[bg]=Firefox Latest
Name[ca]=Firefox Latest
Name[cs]=Firefox Latest
Name[el]=Firefox Latest
Name[es]=Firefox Latest
Name[fa]=Firefox Latest
Name[fi]=Firefox Latest
Name[fr]=Firefox Latest
Name[hu]=Firefox Latest
Name[it]=Firefox Latest
Name[ja]=Firefox Latest
Name[ko]=Firefox Latest
Name[nb]=Firefox Latest
Name[nl]=Firefox Latest
Name[nn]=Firefox Latest
Name[no]=Firefox Latest
Name[pl]=Firefox Latest
Name[pt]=Firefox Latest
Name[pt_BR]=Navegue na Internet (Firefox Latest)
Name[ru]=Firefox Latest
Name[sk]=Firefox Latest
Name[sv]=Firefox Latest
Comment=Browse the World Wide Web
Comment[bg]=Сърфиране в Мрежата
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[de]=Im Internet surfen
Comment[el]=Περιηγηθείτε στον παγκόσμιο ιστό
Comment[es]=Navegue por la web
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Navigue sur Internet
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW 
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[ru]=Обозреватель Всемирной Паутины
Comment[sk]=Prehliadanie internetu
Comment[sv]=Surfa på webben
GenericName=Web Browser
GenericName[bg]=Интернет браузър
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador web
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ru]=Интернет-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sv]=Webbläsare
X-GNOME-FullName=Firefox Latest Web Browser
X-GNOME-FullName[bg]=Интернет браузър (Firefox Latest)
X-GNOME-FullName[ca]=Navegador web Firefox Latest
X-GNOME-FullName[cs]=Firefox Latest Webový prohlížeč
X-GNOME-FullName[el]=Περιηγήτης Ιστού Firefox Latest
X-GNOME-FullName[es]=Navegador web Firefox Latest
X-GNOME-FullName[fa]=مرورگر اینترنتی Firefox Latest
X-GNOME-FullName[fi]=Firefox Latest-selain
X-GNOME-FullName[fr]=Navigateur Web Firefox Latest
X-GNOME-FullName[hu]=Firefox Latest webböngésző
X-GNOME-FullName[it]=Firefox Latest Browser Web
X-GNOME-FullName[ja]=Firefox Latest ウェブ・ブラウザ
X-GNOME-FullName[ko]=Firefox Latest 웹 브라우저
X-GNOME-FullName[nb]=Firefox Latest Nettleser
X-GNOME-FullName[nl]=Firefox Latest webbrowser
X-GNOME-FullName[nn]=Firefox Latest Nettlesar
X-GNOME-FullName[no]=Firefox Latest Nettleser
X-GNOME-FullName[pl]=Przeglądarka WWW Firefox Latest
X-GNOME-FullName[pt]=Firefox Latest Navegador Web
X-GNOME-FullName[pt_BR]=Navegador Web Firefox Latest
X-GNOME-FullName[ru]=Интернет-браузер Firefox Latest
X-GNOME-FullName[sk]=Internetový prehliadač Firefox Latest
X-GNOME-FullName[sv]=Webbläsaren Firefox Latest
Exec=/usr/bin/firefox-latest %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox Latest
StartupNotify=true
